/* Shared Files */
*{
    margin: 0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Mulish:wght@400;600;700;800&family=Open+Sans:wght@400;700;800&family=Poppins:ital,wght@0,400;0,500;0,600;1,700&family=Sora:wght@400;600;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

body{
font-family: 'Mulish', sans-serif;
}
header{
    max-width: 1440px;
    /* min-width: 992px; */
    margin: 50px auto;
    background: #FFF;
    /* border:1px solid blue; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav-div{
    display: flex;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 44px;
}
nav a{
    text-decoration: none;
    color:  #424247;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.hero-image{
    margin-left: 30px;
}.special-images{
    position: absolute;
    left: 600px;
}
.new{
    color: #FF5400;
text-align: center;
font-size: 18px;
font-weight: 700;
}
.nav-title{
    margin-right: 400px;
    margin-left: 50px;
}
.nav-content{
display: flex;
}
.nav-title{
    color: #131318;
font-size: 36px;
font-weight: 800;
}
.special{
    color: #FF5400;
font-size: 36px;
font-weight: 800;
}

.banner{
    text-align: center;
    margin:50px auto 0 auto;
    width: 1400px;
height: 680px;
border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
background-repeat: no-repeat;
background-size: cover;
background-size: 100%;
/* background-attachment: fixed;
background-position: center; */
}
.banner-title{
    color: #FFF;
font-size: 64px;
font-weight: 800;
padding-top:150px;
text-align: center;
}
.banner-description{
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin-top: 24px;
width: 676px;
text-align: center;
margin-left: 300px;
margin-bottom: 70px;
}
.banner-dropdown{
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
position: relative;
margin-top: 30px;
margin-left: 40px;
}
.banner-box{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FFF;
border:none;
padding: 10px 10px;
}
.banner-dropdown ::placeholder{
    color: rgba(19, 19, 24, 0.50);
/* text-align: center; */
font-size: 16px;
font-weight: 400;
}
.shafi{
    position: absolute;
    left:380px;
    top: 40px;
}
.rafi{
    position: absolute;
    left: 595px;
    top:40px;
}
.square{
    background: #FF5400;
}
.square::placeholder{
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
}
.chy{
    position: absolute;
    top:40px;
    right: 160px;
}
/* Main Section */
main{
max-width: 1440px;
margin: 100px auto 0 auto;
}
/* popular Section */
.popular{
    display: flex;
    /* border:1px solid aqua; */
    justify-content: space-between;
   
    
}
.popular-content{
    /* width: 50%; */
}
.popular-head{
    color: #131318;
/* text-align: center; */
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;

}
.popular-description{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;
width: 577px;
}
.popular-list{
    width:525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
font-weight: 400;
margin-bottom: 16px;
line-height: 26px;

/* text-align: center; */

}
.popular-last{
    width: 530px;
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-top: 20px;
}
.btn1{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
border:none;
margin-top: 30px;
}
/* Destination Section */
.destination{
    margin-top: 100px;
}
.destination-head{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.destination-description{
    /* width: 643px; */
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-bottom: 48px;
}
.unique{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap:50px;
    position: relative;
}
 .destination-images{
    display: flex;
    justify-content: space-between;
    width:650px;
    height: 370px;
    gap:30px;
}  
.destination-images1{
    display: flex;
    gap:50px;
}

.destination-images2{
    display: flex;
    gap:50px;
} 
.maldives{
    position: absolute;
    left: 300px;
    top:170px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    font-family: Mulish;
}
.indo{
    position: absolute;
    right:300px;
    top:175px;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    line-height: normal;
    font-family: Mulish;
}
.sri{
    position: absolute;
    top:600px;
    right: 1150px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
}
.ame{
    position: absolute;
    top:600px;
    right:600px;
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;
}
.kash{
    position: absolute;
    top:600px;
    right: 110px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.bang{
    position: absolute;
    top:1000px;
    right: 1100px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.banda{
    position: absolute;
    top:1000px;
    right: 400px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
/* Choose Section */
.choose{
    margin-top: 100px;
}
.choose-head{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-bottom: 24px;
}
.choose-description{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
margin-bottom: 48px;
}
.choose-item{
    display: flex;
    gap:200px;
}
.choose-card1{
    width: 750px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 35px 55px 35px 35px;
}
.card-head{
    margin-top: 32px;
    margin-bottom: 16px;
}
.choose-card2{
    width: 750px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
border-radius: 16px;
padding: 35px 55px 35px 35px;
}
.choose-item-last{
    margin-left: 300px;
    margin-top: 24px;
    width: 750px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 35px 55px 35px 35px;

}
/* Connect Section */
.connect{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap:100px;
}


.connect-head{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
  
}
.connect-description{
    color: rgba(19, 19, 24, 0.70);
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; 
    margin-bottom:30px;

}
.btn2{
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 8px;
background: #FF5400;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
border:none;
margin-top: 30px;
}
/* Newsletter section */
.newsletter{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap:50px;
    /* position: relative; */
    
}
.newsletter-content{
    width: 500px;
height: 422px;
border-radius: 16px;
border: 1px solid #FF5400;
padding:50px 50px;
margin-left: 50px;
}
.newsletter-head{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
margin-bottom: 16px;
margin-left: 50px;
margin-top: 50px;
}
.newsletter-description{
    color: #5A5A5D;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
margin-bottom: 48px;
margin-left: 50px;
}
.from{
    display: flex;
    flex-direction: column;
    gap:18px;
    margin-left: 50px;
}
.from input{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.from ::placeholder{
    color: rgba(19, 19, 24, 0.30);
font-size: 16px;
font-weight: 400;
padding: 5px 20px;
}
.btn{
    width: 393px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border:none;
/* margin-left: 50px; */
}
.special-btn{
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
background: #FF5400;
color: #FFF;
font-size: 32px;
font-weight: 800;
border: none;
}
.spa-travel{
    color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 400;
}
.newsletter-image{
    position: relative;
}
.special-btn{
    position: absolute;
    bottom: 50px;
    left: 380px;
}
.foot{
    margin-top: 100px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    max-width: 2000px;
    max-height: 602px;
}
.foot-head{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 32px;
font-weight: 800;
margin-top: 100px;
color: var(--Dark-01, #131318);
font-size: 32px;
font-weight: 800;
}
.foot-content{
    display:flex;
    /* text-align: center; */
    align-items: center;
    gap:16px;
    justify-content: center;
    margin-top: 100px;
}
.foot-content img{
    margin-top: 100px;
    width: 45px;
    height: 50px;
}
.foot-banner{
    display: flex;
    justify-content: center;
}
.foot-description{
    width: 769px;
    margin-top: 15px;
    color: #5A5A5D;
text-align: center;
font-size: 16px;
font-style: normal;
line-height: 26px; /* 162.5% */
}
.foot-image{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:40px;
}
.foot-reserve{
    /* margin-top: 100px; */
    padding-bottom: 100px;
}
.hori{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 872px;
height: 1px;
background: rgba(19, 19, 24, 0.10);
margin-top: 50px;
margin-bottom: 50px;
margin-left: 500px;
}
.foot-last{
    color: #131318;
font-family: Inter;
font-size: 16px;
font-weight: 300;
line-height: normal;
}








/* Media query */
@media screen and (max-width:600px){
    body{
        max-width: 500px;
    }
    nav{
    max-width: 400px;
    }
    .nav-div{
           max-width: 300px;
    }
    nav img{
        width: 28.724px;
        height: 33.516px;
        margin-left: 20px;
    }
    .nav-title, .special{
        font-size: 18px;
        margin-left: 10px;
        display: flex;
    }
    nav > ul{
        display: none;
    }
    .special-images{
        left:300px;
    }
    .banner{
        width: 335px;
height: 520px;
background-size: cover;
background-repeat: no-repeat;
margin-left: 30px;
background-position: center;
    }
    .banner-content{
        padding: 20px;
    }
    .banner-title{
font-size: 22px;
font-weight: 800;
padding-top: 10px;
    }
    .banner-description{
text-align: center;
font-size: 14px;
font-weight: 400;
margin-top: 10px;
margin-bottom: 10px;
width: 304px;
margin-left: 0;
    }
    .banner-dropdown{
        display: flex;
width: 250px;
padding: 18px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-items: center;
margin-left: 20px;
margin-top: 0;
    }
    .shafi{
        left: 200px;
        top:210px;
    }
    .rafi{
        left: 200px;
        top:130px;
    }
    .chy{
        top:303px;
        right: 210px;
    }
 .popular{
    flex-direction: column;
 }
 .popular-head{
    font-size: 20px;
 }

 .popular-description, .popular-list, .popular-last{
    font-size: 14px;
    width: 335px;
 }
 .popular-image img{
    width: 335px;
    height: 342px;
 }
 .popular-content, .popular-image{
    padding: 30px;
 }

 .destination-head{
    font-size: 20px;
 }
 .destination-description{
    width: 309px;
    font-size: 14px;
    margin-left: 35px;
 }
 .destination{
    margin: 0;
 }
 .unique{
    grid-template-rows: 1fr;
 }
 .destination-images, .destination-images1, .destination-images2{
    flex-direction: column;
 }
 .destination-images, .destination-images1, .destination-images2 img{
    width: 335px;
    height: 175px;
 }

.destination-images{
    margin-bottom: 150px;
    padding: 30px;
}
.destination-images1{
    margin-bottom: 580px;
    padding: 30px;
}
.destination-images1 .kash-mir{
    height: 250px;
    }
.destination-images2{
    padding: 30px;
}
.maldives{
    font-size: 20px;
    top:100px;
    left: 150px;
}
.indo{
    font-size: 20px;
    top:300px;
    left:150px;
}
.sri{
    font-size:20px;
    left:150px;
}
.ame{
    font-size:20px;
    top:850px;
    left:150px;
}
.kash{
    font-size: 20px;
    top:1150px;
    right: 180px;
}
.bang{
    font-size:20px;
    top:1400px;
    left:130px;
}
.banda{
    font-size: 20px;
    top:1640px;
    left: 130px;
}

/* Choose Section */
.choose{
    margin:0;
}
.choose-item{
    flex-direction: column;
    gap:20px;
}
.choose-content{
padding:20px;
}
.choose-head{
    font-size: 20px;
}
.choose-description{
    width: 309px;
    font-size: 14px;
    margin-left: 25px;
}
.card-head{
    font-size: 28px;
}
.card-description{
    font-size:14px;
}
.choose-item img{
width:48px;
height: 48px;
}
.choose-card1, .choose-card2, .choose-item-last{
    width: 260px;
    height: 250px;
    margin-left: 22px;
}
.connect{
    flex-direction: column;
    margin-top: 50px;
    gap:0;
}
.connect-image img{
    height: 300px;
    margin-right: 20px;

}
.connect-head{
    font-size: 20px;
    margin-bottom: 20px;
}
.connect-description{
    font-size: 16px;
}
.connect-content{
    padding:30px;
}
.btn2{
    margin-top: 0;
    margin-left: 70px;
}
.newsletter{
    margin-right: 20px;
    margin-top: 30px;
    flex-direction: column;
}
.newsletter-content{
    width: 330px;
    height: 370px;
    padding: 0;
    margin-left: 0;
}
.newsletter-head{
    font-size:20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 8px;
}
.newsletter-description{
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.from{
    margin-left: 30px;
}
.from input{
    width: 280px;
}
.btn{
    width: 280px;
}
.newsletter-image img{
    width: 335px;
    height: 300px;
}
.special-btn{
    width: 214px;
    height: 79px;
    font-size: 21px;
    left: 110px;
    right: 10px;
}
.spa-travel{
    font-size: 15px;
}
.foot-content img{
    width: 30px;
    height: 33px;
    margin-top: 20px;
}
.foot-head{
    font-size: 22px;
}
.foot-description{
    font-size: 15px;
    width: 287px;
}
.foot-last{
    font-size: 14px;
}
.foot{
    margin-top: 20px;
}
.foot-content{
    margin-top: 0;
    margin-right: 20px;
}
.foot-head{
    margin-top: 20px;
}
.foot-description{
    margin-right: 10px;
}
.hori{
    width: 330px;
    margin-left: 25px;
}
 .foot-reserve{
    padding-bottom: 50px;
 }
}




@media screen and (min-width:992px) and (max-width:2200px){
    .special-images{
        display:none;
    }
    .nav-title{
        margin-right: 0;
    }
    /* .banner{
        width: 950px;
        height: 600px;
    } */
}